  <div   class="prodList" (mouseenter)="recup()" (mouseleave)="hide()">
    <div class="shopping-cart">
      <!-- Title -->
      <h4 class="title">
        Shopping Bag
      </h4>
<!--End Item 1 -->

      <div class="item" *ngFor="let t of tabRes">
        <div >
          <img class="image" src="../../assets/Images/VapeEx.png" alt="" />
        </div>

        <div class="description">
          <span>{{t.name}}</span>
        </div>

        <div class="quantity">
          <button (click)="incr(t.name)" class="pmBut">+</button><br>
          <input type="number" min="1" max="10" disabled value="{{t.qte}}"><br>
          <button class="pmBut">-</button>
        </div>

        <div class="total-price">{{t.price}}</div>

        <div class="buttons">
          <button (click)="suppProduct(t.name)" class="delBut">X</button>
        </div>
    </div>
    </div>

  </div>
