<mat-grid-list cols="4" rowHeight="2:2">
  <mat-grid-tile><mat-card ><div class="parallelogram"></div> <img class="example-ripple-container mat-elevation-z4"
                                  matRipple
                                  [matRippleCentered]="centered"
                                  [matRippleDisabled]="disabled"
                                  [matRippleUnbounded]="unbounded"
                                  [matRippleRadius]="radius"
                                  [matRippleColor]="color" src="blabla" alt="photo">
    <mat-card-title><b>Nom Du Produit</b></mat-card-title>
    <mat-card-actions>
      <button mat-button>Ajouter Panier</button>
      <button mat-button>Info</button>
    </mat-card-actions>
  </mat-card>
  </mat-grid-tile>
</mat-grid-list>
